/* styles.css */

body {
  background-color: aliceblue;
  margin: 10px;
}

.canvas {
  display: flex;
  justify-content: center;
}

#grid {
  height: 500px;
  width: 500px;
  border: 10px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 1vw;
}

.row {
  display: flex;
  background-color: white;
  flex: 1;
}

.column {
  border: 1px solid rgb(0, 0, 0);
  flex: 1;
}

#title, .buttons, .radioBtns {
  display: flex;
  justify-content: center;
  margin: auto;
}

.buttons, .radioBtns {
  margin: 2px;
  gap: 10px;
}